.header {
  width: 820px;
  height: 80px !important;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 100px;
}

.inPut {
  width: 360px;
  height: 53.5px;
  flex-shrink: 0;
  border-radius: 12px 0 0 12px;
  border: 1px solid #3860c7;
  background: #fff;
  &::placeholder {
    text-indent: 20px;
  }
}

.button {
  width: 80px;
  height: 58px;
  border-radius: 0 12px 12px 0;
  border: 1px solid #3860c7;
  color: #fff;
  background: #3860c7;

  &:hover {
    background-color: blue;
    cursor: pointer;
  }
}

.inputCon {
  display: flex;
  justify-content: center;
}

.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 50px 0;
}
