.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
}
.container {
  margin: 110px auto 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 820px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.inPut {
  position: relative;
  padding-left: 20px;
  width: 360px;
  height: 53.5px;
  flex-shrink: 0;
  border-radius: 12px 0 0 12px;
  border: 1px solid #3860c7;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
}

.button {
  width: 80px;
  height: 56px;
  border-radius: 0 12px 12px 0;
  border: 1px solid #3860c7;
  color: #fff;
  background: #3860c7;

  &:hover {
    background-color: blue;
    cursor: pointer;
  }
}

.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #1e1e1e;
}

.inputCon {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.searchRanking {
  width: 368px;
  height: 240px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #6a87d5;
}
.searchRanking h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 21px;
  font-weight: 600;
}
.rankersDisplay {
  width: 100%;
}
