.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 20px 50px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.content h2 {
  font-size: 21px;
  text-align: center;
  font-weight: 800;
  padding: 10px 0;
}

/* 컨텐츠1 */
.characterSearch {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.characterInformation {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  /* height: 1000px;s */
  /* width: 500px; */
}

.characterInformation article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.characterImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(62, 186, 243, 0.8);
  border-radius: 50px;
  overflow: hidden;
}

.Info {
  /* display: flex; */
  justify-content: center;
  border-radius: 7px;
  align-items: center;
  width: 500px;
  /* height: 528px; */
  background-color: #333333;
}

.HeaderText {
  color: yellow;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
}
.userConfig {
  background-color: #fff;
  margin: 10px 10px 3px 10px;
  height: 170px;
  border-radius: 5px;

  /* display: flex; */
}

.ChInfo {
  border-radius: 20px;
  background-color: aqua;
  width: 130px;
  height: 20px;
  text-align: center;
  margin: 10px 10px 0px 5px;
  font-weight: normal;
}
.ChInfo p {
  display: inline;
  width: 100%;
}

.ChLev {
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 20px;
  background-color: aqua;
  width: 100px;
  height: 20px;
  text-align: center;
  font-weight: normal;
  &::before {
    content: "LV. ";
  }
}
